<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-grid/app-grid-style.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<link rel="import" href="../jargon-styles.html">

<dom-module id="jargon-detail">
	<template>
		<style include="jargon-styles app-grid-style">
			:host {
				padding: 0;
			}

			h1 {
				padding: 42px 24px 24px 24px;
				font-weight: 400;
			}

			marked-element {
				padding: 0 24px;
			}

			marked-element p {
				color: var(--paper-item-body-secondary-color, var(--secondary-text-color))
			}
		</style>

		<slot name="header"></slot>

		<marked-element markdown="{{data.description}}">
			<div slot="markdown-html"></div>
		</marked-element>

	</template>
	<script>
		class JargonDetail extends Polymer.Element {
			static get is() { return 'jargon-detail'; }
			static get properties() {
				return {
					data: {
						type: Object,
						reflectedToAttribute: true,
					},
				};
			}
		}

		window.customElements.define(JargonDetail.is, JargonDetail);
	</script>
</dom-module>