<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/poly-filter/poly-filter.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/ga-dnt-analytics/ga-dnt-analytics.html">

<link rel="import" href="../jargon-styles.html">

<dom-module id="jargon-list">
	<template>
		<style include="jargon-styles">
			paper-input {
				margin: 0 16px;
				--paper-input-container-focus-color: var(--app-primary-color);
			}

			iron-list {
				/* IE 10+ */
				-ms-overflow-style: none;
				/* Firefox */
				overflow: -moz-scrollbars-none;
			}

			iron-list::-webkit-scrollbar {
				/* Safari and Chrome */
				display: none;
			}

			a {
				color: var(--app-primary-color);
				text-decoration: none;
			}

			paper-item div[secondary] {
				white-space: normal;
			}
		</style>

		<slot name="header"></slot>

		<app-header-layout has-scrolling-region>
			<app-header slot="header" fixed>
				<paper-input label="search for jargon" value="{{filter}}"></paper-input>
			</app-header>
			<div role="listbox">
				<iron-list id="list" items="[[data]]">
					<template>
						<a class="item" href="/jargon/[[item.$key]]" alt="[[item.title]]">
							<paper-item>
								<paper-item-body two-line>
									<div>[[item.title]]</div>
									<div secondary>[[item.shortDescription]]</div>
								</paper-item-body>
							</paper-item>
						</a>
					</template>
				</iron-list>
			</div>
		</app-header-layout>

	</template>
	<script>
		class JargonList extends Polymer.Element {
			static get is() { return 'jargon-list'; }
			static get properties() {
				return {
					data: {
						type: Array,
						reflectedToAttribute: true,
					},
					item: Object,
					filter: {
						type: String,
						value: '',
						reflectToAttribute: true,
						notify: true
					},
				};
			}
		}

		window.customElements.define(JargonList.is, JargonList);
	</script>
</dom-module>