<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../jargon-styles.html">
<link rel="import" href="jargon-list.html">
<link rel="import" href="jargon-detail.html">

<dom-module id="view-jargon-narrow">
  <template>
    <style include="jargon-styles app-grid-style">
			.content {
				height: calc(100vh - 64px);
			}
    </style>

		<iron-pages class="content" selected="[[view]]" attr-for-selected="view" fallback-selection="list" role="main">
      <jargon-list view="list" filter="{{filter}}" data="{{list}}">
        <app-header slot="header" fixed>
          <app-toolbar>
            <paper-icon-button icon="icons:menu" on-click="_toggleDrawer"></paper-icon-button>
            <div main-title>Aviation Jargon</div>
          </app-toolbar>
        </app-header>
      </jargon-list>

      <jargon-detail view="item" data="{{item}}">
        <app-header slot="header" fixed>
          <app-toolbar>
            <paper-icon-button icon="arrow-back" on-click="_toggleBack"></paper-icon-button>
            <div main-title>{{item.title}}</div>
          </app-toolbar>
        </app-header>
      </jargon-detail>
    </iron-pages>
  </template>
  <script>
    class ViewJargonNarrow extends Polymer.Element {
      static get is() { return 'view-jargon-narrow'; }
      static get properties() {
        return {
          filter: {
            type: String,
            reflectToAttribute: true,
            notify: true
          },
          list: {
            type: Array,
            reflectToAttribute: true
          },
          item: {
						type: Object,
						reflectToAttribute: true
          },
          key: {
            type: String,
            reflectToAttribute: true,
            observer: '_keyChanged'
          },
          view: String
        };
      }

      _keyChanged(key) {
        this.view = (key == '') ? 'list' : 'item';
      }

      _toggleDrawer() {
        this.dispatchEvent(new CustomEvent('toggle-drawer', {bubbles: true, composed: true}));
      }

      _toggleBack() {
        window.history.back();
      }
    }

    window.customElements.define(ViewJargonNarrow.is, ViewJargonNarrow);
  </script>
</dom-module>