<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="../jargon-styles.html">
<link rel="import" href="../models/jargon-model.html">
<link rel="import" href="view-jargon-wide.html">
<link rel="import" href="view-jargon-narrow.html">

<dom-module id="view-jargon">
  <template>
    <style include="jargon-styles app-grid-style">
      .content {
        --app-grid-columns: 3;
        --app-grid-expandible-item-columns: 2;
        --app-grid-item-height: calc(100vh - 64px);
      }

      jargon-detail {
        @apply --app-grid-expandible-item;
      }
    </style>

    <app-route route="{{route}}" pattern="/:key" data="{{routeData}}">
    </app-route>

    <jargon-model filter="{{filter}}" list="{{list}}" key="{{key}}" item="{{item}}"></jargon-model>

    <app-drawer-layout force-narrow>

      <app-drawer slot="drawer" id="drawer" swipe-open>
        <app-toolbar>
          <div main-title>Aviation Jargon</div>
        </app-toolbar>
        <p>Aviation Jargon provides a quick reference to the weird terms of the aviation world.</p>
      </app-drawer>

      <app-header-layout>

        <view-jargon-wide id="wideView" filter="{{filter}}" list="[[list]]" item="[[item]]" hidden$="{{!_wideLayout}}">
        </view-jargon-wide>
        <view-jargon-narrow id="narrowView" filter="{{filter}}" list="[[list]]" item="[[item]]" key="[[key]]" hidden$="{{_wideLayout}}">
        </view-jargon-narrow>

      </app-header-layout>
    </app-drawer-layout>

    <iron-media-query query="min-width: 600px" query-matches="{{_wideLayout}}"></iron-media-query>
  </template>
  <script>
    class ViewJargon extends Polymer.Element {
      static get is() { return 'view-jargon'; }
      static get properties() {
        return {
          filter: {
            type: String
          },
          list: {
            type: Array,
            reflectToAttribute: true
          },
          route: {
            type: Object,
            reflectToAttribute: true,
            observer: '_routeChanged'
          },
          routeData: Object,
          key: String,
          item: {
            type: Object,
            observer: '_itemChanged'
          },
          _wideLayout: Boolean,
          _metadata: {
            type: Object,
            value: {
              title: 'Aviation Jargon',
              description: 'Aviation Jargon provides a quick reference to the weird terms of the aviation world.',
              keywords: 'aviation jargon acronym acronyms definition definitions',
            }
          }
        };
      }

      ready() {
        super.ready();
        const wideView = this.$.wideView;
        const narrowView = this.$.narrowView;
        wideView.addEventListener('toggle-drawer', this._toggleDrawer.bind(this))
        narrowView.addEventListener('toggle-drawer', this._toggleDrawer.bind(this))
      }

      _toggleDrawer() {
        this.$.drawer.toggle();
      }

      _routeChanged(value) {
        this.key = (value.path === '') ? '' : this.routeData.key;
      }

      _itemChanged(item) {
        let metadata = this._metadata;
        let isItem = (this.key !== '');
        if (isItem) {
          metadata = {
            title: this.item.title,
            description: this.item.shortDescription,
            keywords: this.item.title + ' aviation jargon acronym acronyms definition definitions'
          }
        }
        this.dispatchEvent(new CustomEvent('app-metadata', {
          bubbles: true,
          composed: true,
          detail: metadata,
        }));
      }
    }

    window.customElements.define(ViewJargon.is, ViewJargon);
  </script>
</dom-module>