<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../jargon-styles.html">

<dom-module id="view-404">
  <template>
    <styles include="jargon-styles"></styles>
    <h1>Ops, the page you're looking for could not be found.</h1>
  </template>
  <script>
    class View404 extends Polymer.Element {
      static get is() { return 'view-404'; }
    }

    window.customElements.define(View404.is, View404);
  </script>
</dom-module>