<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../jargon-styles.html">
<link rel="import" href="jargon-list.html">
<link rel="import" href="jargon-detail.html">

<dom-module id="view-jargon-wide">
  <template>
    <style include="jargon-styles app-grid-style">
      .content {
        --app-grid-columns: 3;
        --app-grid-expandible-item-columns: 2;
        --app-grid-item-height: calc(100vh - 64px);
      }

      jargon-detail {
        @apply --app-grid-expandible-item;
      }
    </style>

		<app-header slot="header" fixed>
			<app-toolbar>
				<paper-icon-button icon="icons:menu" on-click="_toggleDrawer"></paper-icon-button>
				<div main-title>Aviation Jargon</div>
			</app-toolbar>
		</app-header>

		<div class="content app-grid">
			<jargon-list filter="{{filter}}" data="{{list}}"></jargon-list>
			<jargon-detail data="{{item}}"></jargon-detail>
		</div>
  </template>
  <script>
    class ViewJargonWide extends Polymer.Element {
      static get is() { return 'view-jargon-wide'; }
      static get properties() {
        return {
          filter: {
            type: String,
            reflectToAttribute: true,
            notify: true
          },
          list: {
            type: Array,
            reflectToAttribute: true
          },
          item: {
						type: Object,
						reflectToAttribute: true
					}
        };
      }

      _toggleDrawer() {
        this.dispatchEvent(new CustomEvent('toggle-drawer', {bubbles: true, composed: true}));
      }
    }

    window.customElements.define(ViewJargonWide.is, ViewJargonWide);
  </script>
</dom-module>