<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/poly-filter/poly-filter.html">

<link rel="import" href="../data/jargon-data.html">

<dom-module id="jargon-model">
  <template>
		<jargon-data list="{{_list}}" key="{{key}}" item="{{item}}"></jargon-data>

    <poly-filter array-to-filter="[[_list]]" filter="[[filter]]" filtered-array="{{list}}">
    </poly-filter>
  </template>

  <script>
    class JargonModel extends Polymer.Element {
      static get is() { return 'jargon-model'; }
      static get properties() {
				return {
					filter: {
						type: String,
						reflectToAttribute: true
					},
					list: {
						type: Array,
						reflectToAttribute: true,
						notify: true,
						observer: '_listChanged'
					},
					item: {
						type: Object,
						reflectToAttribute: true,
						notify: true
					},
					key: {
						type: String,
						reflectToAttribute: true,
						notify: true
					},
					_list: Array
				};
			}

			_listChanged(list) {
				if (this.filter !== '') {
					this.dispatchEvent(new CustomEvent('analytics-event', {
						detail: {
							hitType: 'event',
							eventCategory: 'search',
							eventAction: 'query',
							eventLabel: this.filter,
						},
						bubbles: true,
						composed: true}));
				}
			}
    }

    window.customElements.define(JargonModel.is, JargonModel);
  </script>
</dom-module>