<dom-module id="jargon-styles">
  <template>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

      :host {
        font-family: 'Roboto', sans-serif;

        --app-primary-color: #212121;
        --app-primary-text-color: #7d7d7d;
      }

      app-drawer > p {
        color: var(--app-primary-text-color);

        margin: 24px;
      }

      app-toolbar {
        background-color: var(--app-primary-color);
        color: white;
      }

      app-toolbar > paper-icon-button {
        margin-right: 16px;
      }
    </style>
  </template>
</dom-module>
