<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/app-layout/app-grid/app-grid-style.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/ga-dnt-analytics/ga-dnt-analytics.html">
<link rel="import" href="../bower_components/app-metadata/app-metadata.html">

<link rel="import" href="jargon-styles.html">
<link rel="lazy-import" href="views/view-jargon.html">
<link rel="lazy-import" href="views/view-404.html">

<dom-module id="jargon-app">
	<template>
		<style include="jargon-styles">
			:host {
				display: block;
			}
		</style>

		<app-metadata></app-metadata>
		<ga-dnt-analytics id="analytics" key="UA-20904639-8"></ga-dnt-analytics>

		<app-location route="{{route}}"></app-location>
		<app-route route="{{route}}" pattern="[[rootPath]]:view" data="{{routeData}}" tail="{{subRoute}}">
		</app-route>

		<iron-pages selected="[[view]]" attr-for-selected="view" fallback-selection="view404" role="main">
			<view-jargon view="jargon" id="jargon" route="[[subRoute]]"></view-jargon>
			<view-404 view="404"></view-404>
		</iron-pages>
	</template>

	<script>
		class JargonApp extends Polymer.Element {
			static get is() { return 'jargon-app'; }

			static get properties() {
				return {
					route: {
						type: Object,
						observer: '_routeChanged'
					},
					routeData: Object,
					subRoute: Object,
					view: {
						type: String,
						reflectedToAttribute: true,
						observer: '_viewChanged'
					}
				};
			}

			ready() {
				super.ready();

				this.$.jargon.addEventListener('analytics-event', event => this._sendAnalyticsEvent(event));
			}

			static get observers() {
				return [
					'_routeViewChanged(routeData.view)'
				];
			}

			_routeChanged(route) {
				let path = window.location.pathname;
				if (this._shouldSendAnalyticsEvent()) {
          this.$.analytics.send({
            hitType: 'pageview',
            page: path,
            location: window.location.href
          });
				} else {
					console.log('analytics-pageview', path);
				}
			}

			_sendAnalyticsEvent(event) {
				event = event.detail;
				if (this._shouldSendAnalyticsEvent()) {
          this.$.analytics.send(event);
				} else {
					console.log('analytics-event', event.eventLabel);
				}
			}

			_shouldSendAnalyticsEvent() {
				return !['localhost', '127.0.0.1'].includes(document.domain);
			}

			_routeViewChanged(view) {
				this.view = view || 'jargon';
			}

			_viewChanged(view) {
				var resolvedViewUrl = this.resolveUrl('views/view-' + view + '.html');
				Polymer.importHref(resolvedViewUrl, null, this._view404.bind(this), true);
			}

			_view404() {
				this.view = '404';
			}
		}

		window.customElements.define(JargonApp.is, JargonApp);
	</script>
</dom-module>