<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-document.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="../../bower_components/app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">
<link rel="import" href="../../bower_components/poly-filter/poly-filter.html">

<dom-module id="jargon-data">
	<template>
		<firebase-app database-url="https://aviation-jargon.firebaseio.com"
			api-key="AIzaSyD8XDiMi6-iTWMvyt3_k3A80gkQEu6a5Pk" auth-domain="aviation-jargon.firebaseapp.com">
		</firebase-app>

		<firebase-query path="/jargonList" data="{{_list}}">
		</firebase-query>
		<app-indexeddb-mirror key="/jargonList" data="{{_list}}" persisted-data="{{list}}">
		</app-indexeddb-mirror>

		<firebase-document path="/jargonDetail/[[key]]" data="{{_item}}">
		</firebase-document>
		<app-indexeddb-mirror key="/jargonDetail/[[key]]" data="{{_item}}" persisted-data="{{item}}">
		</app-indexeddb-mirror>
	</template>

	<script>
		class JargonData extends Polymer.Element {
			static get is() { return 'jargon-data'; }

			static get properties() {
				return {
					list: {
						type: Array,
						reflectToAttribute: true,
						notify: true
					},
					item: {
						type: Object,
						reflectToAttribute: true,
						notify: true
					},
					key: {
						type: String,
						reflectToAttribute: true,
						notify: true
					},
					_list: Array,
					_item: Object,
				};
			}
		}

		window.customElements.define(JargonData.is, JargonData);
	</script>
</dom-module>